@page "/faq"
<h3>Задайте свой вопрос:</h3>

<div>
    <input @bind="message" placeholder="Введите сообщение" />
    <button  class="btn btn-primary" @onclick="SendMessage">Отправить</button>
</div>

<div>
    <h4>Сообщения</h4>
    <ul>
        @foreach (var item in messages.Select((value, index) => new { Value = value, Index = index }))
        {
            <li>
                @if (item.Index != editingIndex)
                {
                    <span>@item.Value</span>
                    <button  class="btn btn-primary" @onclick="() => EditMessage(item.Index)">Редактировать</button>
                }
                else
                {
                    <input @bind="messages[item.Index]" />
                    <button  class="btn btn-primary" @onclick="SaveMessage">Сохранить</button>
                }
            </li>
        }
    </ul>
</div>

@code {
    private string message = "";
    private List<string> messages = new List<string>();
    private int editingIndex = -1;

    private void SendMessage()
    {
        if (editingIndex == -1)
        {
            if (!string.IsNullOrWhiteSpace(message))
            {
                messages.Add(message);
                message = "";
            }
        }
        else
        {
            messages[editingIndex] = message;
            editingIndex = -1;
            message = "";
        }
    }

    private void EditMessage(int index)
    {
        editingIndex = index;
        message = messages[index];
    }

    private void SaveMessage()
    {
        editingIndex = -1;
        message = "";
    }
}